

.custom-header { background-color: #4dd551; color: white; text-align: center; padding: 20px;display: flex;
  align-items: center;
  }



  

.header-icon {
  width: 100px;
  height: 100px;
  margin-right:2rem;
  
}

.about-link {
  position: absolute;
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the right */
  font-size: 1rem;
  text-decoration: none;
  color: black;
 
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 2rem;
  

}

.about-link:hover {
  text-decoration: underline;
}

/*Emojis*/

.button-container{display: flex;justify-content:center;}

.emoji-button{
  padding:1rem 6rem;
  border-radius: 10px;
  /* margin: 2rem; */
  font-size: larger;
  font-weight: 600;
  background-color: black;
  color: azure;
}




.emoji-list{display: flex;justify-content: center;padding:2rem;background-color: #D9D9D9;margin: 4rem;

}

.emoji-span{font-size: 4rem; margin: 5px; cursor: pointer; transition: color 0.3s;}

.emoji-heading{display: flex;justify-content:flex-start;margin: 4rem;}



.emoji-span:hover {
  transform: scale(1.2); /* Slightly increase the size */}

/*Movies*/
.movies-heading{display: flex;justify-content:flex-start;margin:4rem;}

.about-link {
  color: Black;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 10px;
}




/* .movies-container{width:80%;display: flex;justify-items: center;padding: 5rem;} */

/* .card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
} */

/* .card {
  background-color: #ECEAEA;
  height: 400px; 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
} */


/* .card:hover {
  transform: scale(1.05); 
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);  
}  */


